@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400i&display=swap');

.toolbar-title{
    font-family: 'Lobster Two', cursive;
    font-size:2rem !important;
}
.colomn{
    max-width:fit-content;
}