@import url('https://fonts.googleapis.com/css?family=Lobster+Two:400i&display=swap');

.insta-title{
    font-family: 'Lobster Two', cursive;
    font-size: 3rem;
}
.login{
    min-height:-webkit-fill-available;
}

